@media screen and (min-width: 900px) {
	h2 {
		font-size: 3.2rem;
	}
	.primary-button {
		padding: 15px 35px;
	}
	.header--container {
		grid-template-columns: 1fr 270px 1fr;
		max-width: 1000px;
		margin: 0 auto;
	}
	.header__phone > .accent {
		font-size: 3.6rem;
	}
	.header__logo {
		max-width: 315px;
		height: 110px;
		object-fit: cover;
	}
	/*Hero*/
	.hero__doctor-name {
		margin-top: -70px;
		margin-bottom: 30px;
		margin-left: 50%;
	}
	.hero__text {
		max-width: 800px;
		margin: 0 auto;
		margin-top: -30px;
		position: relative;
		z-index: 10;
		padding: 30px 71px 20px;
	}
}
